body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#examples h3{
    cursor: pointer
}
.pac-container {
    z-index: 99999;
}
footer {
	margin-top: 45px;
}
